<!doctype html>
<html>
    <head>
    <link rel="stylesheet" href="../public/stylesheet.css" type="text/css" />

    </head>
    <body>
      <h1>Api Project: URL Shortener Micoservice</h1>
      <h2>How it works:</h2>

      <p>
        example: POST localhost:3000/new - http://www.google.com
              </p>
      <h3>Example Usage:</h3>
      <p>
        <a href="localhost:3000/2">localhost:3000/2</a>
      </p>
      <h3>Will Redirect to: </h3>
      <p>
        https://www.freecodecamp.com
      </p>
    </body>
</html>
